<a href="https://colab.research.google.com/github/Yazielbaralc1/Mineria_de_Datos.phyton-/blob/main/Ejercicios%20B%C3%A1sicos%20de%20Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

EJERCICIOS PROPUESTOS A PRACTICA

Ejercicio 1:
Realiza una variable con tu matricula y realiza una secuencia de imprimir con tu nombre y tu matricula concatenados.

In [ ]:
matricula= 1851004
name= "Barbosa Alcocer Yaziel Gibran  " 

print(name + str(matricula))

Barbosa Alcocer Yaziel Gibran  1851004

Ejercicio 2:
Pidiendo el input del usuario pide dos números y crea una pequeña calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [ ]:
num_1= float(input("Recuerde Respetar la jerarquía de los numero en la resta, divison y exponente. Introduce el numero que deseas operar: "))
num_2= float(input("Introduce el siguiente numero que deseas operar: "))

print ("Suma = ",num_1,"+",num_2,"=", num_1+num_2)
print ("Resta = ",num_1,"-",num_2,"=", num_1-num_2)
print ("Multiplicacion = ",num_1,"*",num_2,"=", num_1*num_2)
print ("Division = ",num_1,"/",num_2,"=", num_1/num_2)
print ("Exponente = ",num_1,"^",num_2,"=", num_1**num_2)

Recuerde Respetar la jerarquía de los numero en la resta, divison y exponente. Introduce el numero que deseas operar: 1
Introduce el siguiente numero que deseas operar: 1
Suma =  1.0 + 1.0 = 2.0
Resta =  1.0 - 1.0 = 0.0
Multiplicacion =  1.0 * 1.0 = 1.0
Division =  1.0 / 1.0 = 1.0
Exponente =  1.0 ^ 1.0 = 1.0

Ejercicio 3: Con loop while o for, realiza una lista de 10 numeros multiplos de 3, y después realiza una función de loop que sume todos los números dentro del arreglo.

In [ ]:
m=0
suma_total=0
_multiplos10=[] #Lista donde guardaran los multiplos
n=1 #contador
while n<=10:
  mult=n*3 
  _multiplos10.append(mult)
  print("Multiplo ", n ,"es ", _multiplos10[n-1] )
  n=n+1

while m<=9:
  suma_total= suma_total + _multiplos10[m]
  m=m+1

print("La suma de la lista de múltiplos es  ", suma_total)

Multiplo  1 es  3
Multiplo  2 es  6
Multiplo  3 es  9
Multiplo  4 es  12
Multiplo  5 es  15
Multiplo  6 es  18
Multiplo  7 es  21
Multiplo  8 es  24
Multiplo  9 es  27
Multiplo  10 es  30
La suma de la lista de múltiplos es   165

Ejercicio 4
Con una función de if else, revisar si un número es par o es impar.
Con una función de if else, revisar si un número es primo o no.

In [ ]:
numero= int(input("Introduzca un número entero que desea saber si es par o impar:  "))
if numero%2!=0: #comprobamos el residuo del numero
  print ("El numero intrudcido  ", numero, "es IMPAR ")
else:
  print ("El numero introducido  ", numero, "es PAR") 

  if numero%2 !=0:
    print("Es un número primo")
  else:
    print("No es un número primo")

Introduzca un número entero que desea saber si es par o impar:  4
El numero introducido   4 es PAR
No es un número primo

Ejercicio 5: Utilizando diferentes clases en python, crea una calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [ ]:
class calculadora:
    def __init__(self, num1, num2):
        self.num1 = float(num1)
        self.num2 = float(num2)

    def sumar(self):
        suma = self.num1 + self.num2
        print("el resultado de la suma es: ", suma)

    def restar(self):
        resta = self.num1 - self.num2
        print("el resultado de la resta es: ", resta)

    def multiplicar(self):
        multiplicacion = self.num1 * self.num2
        print("el resultado de la multiplicación es: ", multiplicacion)

    def dividir(self):
        divicion = self.num1 / self.num2
        print("el resultado de la divición es: ", divicion)


num1 = input("ingrese un numero: ")
num2 = input("ingrese un numero: ")

calculadora = calculadora(num1, num2)
calculadora.sumar()
calculadora.multiplicar()
calculadora.restar()
calculadora.dividir()

ingrese un numero: 45
ingrese un numero: 20
el resultado de la suma es:  65.0
el resultado de la multiplicación es:  900.0
el resultado de la resta es:  25.0
el resultado de la divición es:  2.25

Ejercicios con estructuras básicas de python.
Tuplas

Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es

In [ ]:
x=1.71054
y=6
n= False
i=166j
print(type(x) , type(y), type(n), type(i))

<class 'float'> <class 'int'> <class 'bool'> <class 'complex'>

Crear una tupla con valores enteros imprimir el primer y ultimo valor.

Añadir 3 valores de string a la tupla.

Verificar si una variable existe dentro de la tupla.

In [ ]:
tupl=[1,3,5,7,9,11]
print("El primer valor de la tupla es: ", tupl[0], "\n El último valor de la tupla es: ", tupl[4])
tupla.append("Añadiendo tres")
tupla.append("Argumentos tipo")
tupla.append("Tipo string")
print(tupla)


limsup=len(tupl)

for i in range(0,limsup):
    verif=str(input("Ingrese el elemento que desea verificar: "))
    if verif==tupla[i]:
      print("El elemento ", verif, "no se encuentra en dicha tupla.")
    break
else: 
      i==limsup
      print("La variable ", verif, "se encuentra en dicha dupla.")#Queria que me imprimiera pero me revolvi maestra:(

El primer valor de la tupla es:  1
 El último valor de la tupla es:  9
[1, 3, 5, 7, 9, 11, 'Añadiendo tres', 'Argumentos tipo', 'Tipo string', 'Añadiendo tres', 'Argumentos tipo', 'Tipo string', 'Añadiendo tres', 'Argumentos tipo', 'Tipo string', 'Añadiendo tres', 'Argumentos tipo', 'Tipo string', 'Añadiendo tres', 'Argumentos tipo', 'Tipo string', 'Añadiendo tres', 'Argumentos tipo', 'Tipo string', 'Añadiendo tres', 'Argumentos tipo', 'Tipo string', 'Añadiendo tres', 'Argumentos tipo', 'Tipo string', 'Añadiendo tres', 'Argumentos tipo', 'Tipo string', 'Añadiendo tres', 'Argumentos tipo', 'Tipo string', 'Añadiendo tres', 'Argumentos tipo', 'Tipo string', 'Añadiendo tres', 'Argumentos tipo', 'Tipo string', 'Añadiendo tres', 'Argumentos tipo', 'Tipo string', 'Añadiendo tres', 'Argumentos tipo', 'Tipo string', 'Añadiendo tres', 'Argumentos tipo', 'Tipo string', 'Añadiendo tres', 'Argumentos tipo', 'Tipo string', 'Añadiendo tres', 'Argumentos tipo', 'Tipo string', 'Añadiendo tres', 'Argumentos tipo', 'Tipo string', 'Añadiendo tres', 'Argumentos tipo', 'Tipo string']
Ingrese el elemento que desea verificar: 3

Listas

Crear una lista con 40 elementos aleatorios enteros.

Con una funcion (def) crear dos listas nuevas a partir de la lista creada por numeros aleatorios, en la cual en una esten los elementos pares, y en la otra los elementos impares.

Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables.

Ordenar los elementos de la lista par de mayor a menor, y los de la lista impar de menor a mayor. 

Utilizar al menos cuatro de las funciones de listas en python en la lista original de 40 elementos.

In [ ]:
import numpy as np

m= np.random.randint(1,100,size=40)
print("La lista es: \n",m)

def nuevas_listas(m): #creacion de funcion
    listapar=[]
    listaimpar=[]

    for i in range(1,41):
      if lista[i-1]%2==0:
        listapar.append(lista[i-1])
      else:
        listaimpar.append(lista[i-1])
    #
    o=len(listapar)
    p=len(listaimpar)

    listaimpar.sort()
    return "par= " +str(o), listapar, " impar" +str(p), listaimpar
    listapar.sort(reverse=True)
print("Longitudes de las listas son: \n",nuevas_listas(m))

m.sort()
print("Lista Ordenada:\n",m) #ordenando elementos


m=np.append(m,[0,0,0]) #agregando elementos
print("Lista con nuevos datos:\n",m)

La lista es:
 [41 15 26  4 71 27 94 97 89 80 80  5 30 62 37 88 10  6 12 49 78  6 65 93
 63 72 32  1 89 67 39 78  6 95 20 40 90 90 24 87]
Longitudes de las listas son:
 ('par= 20', [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38], ' impar20', [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39])
Lista Ordenada:
 [ 1  4  5  6  6  6 10 12 15 20 24 26 27 30 32 37 39 40 41 49 62 63 65 67
 71 72 78 78 80 80 87 88 89 89 90 90 93 94 95 97]
Lista con nuevos datos:
 [ 1  4  5  6  6  6 10 12 15 20 24 26 27 30 32 37 39 40 41 49 62 63 65 67
 71 72 78 78 80 80 87 88 89 89 90 90 93 94 95 97  0  0  0]

Diccionarios

Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.

Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor. 

Usando el diccionario y un loop, imprimir solo los nombres.

Añadir dos personas nuevas a tu diccionario, incluyendo edad.

In [35]:

dicc={'Karen':19,'Aldo':20, 'Tere':51, 'Sofia':19, 'Carlos':20,'Orlando':20}
print("Su diccionario es: \n",dicc)
names=list(zip(dicc.keys()))
ages=list(zip(dicc.values()))
ordenados=sorted(ages) #Para ordenar caulquier iterable
print("Lista de edades: \n",ordenados)

for name in dicc.keys():
  print(name)

dicc['Luisa']=21
dicc['Santos']=21

print("Nuevo diccionario\n",dicc)

Su diccionario es:
 {'Karen': 19, 'Aldo': 20, 'Tere': 51, 'Sofia': 19, 'Carlos': 20, 'Orlando': 20}
Lista de edades:
 [(19,), (19,), (20,), (20,), (20,), (51,)]
Karen
Aldo
Tere
Sofia
Carlos
Orlando
Nuevo diccionario
 {'Karen': 19, 'Aldo': 20, 'Tere': 51, 'Sofia': 19, 'Carlos': 20, 'Orlando': 20, 'Luisa': 21, 'Santos': 21}

Sets
Crea un set con 100 numeros aleatorios enteros del 1 al 25.

Comprueba la longitud de tu set.

Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial.

In [53]:
import random 
set_num={0,0}
set_num.clear

for i in range(1,101):
  set_num.add(random.randint(1,25)) #Agregamos a nuestro set la funcon de crar numero aleatorios con parametros del 1 al 25
print("El se esta compuesto por: \n",set_num)
print("Con una longitud de",len(set_num), "caracteres.")

list5=[]
for i in range(0,5):
  list5.append(random.randint(1,10))

for i in range(0,5):
  if list5[i] in set_num:
    print("El numero", list5[i],"existe en el main set")
else:
  print("El numero", list5[i], "no existe en el main set")

El se esta compuesto por:
 {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25}
Con una longitud de 26 caracteres.
El numero 10 existe en el main set
El numero 8 existe en el main set
El numero 6 existe en el main set
El numero 10 existe en el main set
El numero 5 existe en el main set
El numero 5 no existe en el main set